
.flex {
    display: flex;

    &.flex-wrap {
        flex-wrap: wrap;
    }

    .item {
        width: 30%;
    }

}
.container {
    max-width: 80%;
    margin: 0 auto;
    justify-content: space-between;
}