@media(max-width: 600px) {
    nav {
      height: 90px;
    }
  
    nav ul {
      flex-direction: column;
      align-items: center;
      margin-left: 0px;
    }
  
    .flex {
      .item {
        width: 100%;
      }
    }
  }
  
  @media (min-width:600px) and (max-width: 1200px) {
    .item {
      width: 50%;
    }
  }