$roxo: #a8385c;
$gray: #c7c7c7;

body {
  margin: 0px;
}

a {
  text-decoration: none;
  color: #fff;
}


nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: $roxo;
  height: 60px;
}

header {
  height: 60px;
  margin-bottom: 30px;
}


nav ul {
  display: flex;
  list-style: none;
  padding: 0px;
  justify-content: space-between;

  li {
    padding: 4px;

    &.logo {
      margin-left: 10%;
      color: #fff;

      span {
        vertical-align: middle;
      }
    }

    .pesquisa {
      background: $roxo;
      border: 1px solid gray;
      color: #fff;
      border-radius: 4px;
      padding: 4px 8px;

      &:focus {
        outline: none;
      }

      &::placeholder {
        color: #fff;
      }
    }
  }
}

.main-title {
  color: #a8385c;
}

.title {
  color: #a8385c;
  font-size: 16px;

  &:hover {
    color: #d8245e;
  }
}

.content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-left: 4px;

  .views {
    color: $gray;

    span {
      vertical-align: middle;
    }
  }
}

.video {
  text-align: center;

  iframe {
    width: 100%;
  }

}

.description {
  max-height: 10em;
  overflow-y: scroll;
}

.img-container {
  opacity: 0.5;
  position: relative;

  &:hover {
    opacity: 1;
  }

  .time {
    position: absolute;
    bottom: 12px;
    right: 0;
  }
}


.button-container {
  text-align: center;
  margin: 40px 0px;

  .button-mais-videos {
    cursor: pointer;
    background-color: #797979;
    padding: 10px 40px;
    color: #fff;
  }
}

@import 'modal';
@import 'flex';
@import 'media';