nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #a8385c;
  height: 60px;
}
body{
  overflow-y: hidden
}
header{
  height: 60px;
  margin-bottom: 30px;
}
a {
  text-decoration: none;
  color: #fff;
}
nav ul {
  list-style: none;
  display: flex;
}
nav ul li {
  display: flex;
  flex-direction: column;
  padding: 4px;
}
nav ul li:last-child {
  align-self: flex-end;
}
.row{
  display: flex;
}
.item{
  display: flex;
  width: 30%;
}